  <%= form_for @order, html: {class: "form-horizontal"} do |f| %>
    <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <fieldset>
      <legend>Checkout</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
             <%= f.text_field :name, class: "form-control", value: current_user.name %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Phone Number</label>
        <div class="col-sm-9">
              <%= f.telephone_field :phone, class: "form-control", value: current_user.phone  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Address</label>
        <div class="col-sm-9">
              <%= f.text_area :address, class: "form-control", value: current_user.address  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Pay type</label>
        <div class="col-sm-9">
              <%= f.select :pay_type, Order::PAYMENT_TYPES, {prompt: 'Select a payment method'}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-3">
          <%= f.email_field :email, class: "form-control", value: current_user.email %>
        </div><br>
      </div>
      <div class="row">
        <div class="col-md-6 pull-left">
          <%= link_to_if(current_page?(new_order_path), 'Back', cart_path(@cart), class: "btn btn-warning") %>
        </div>
        <div class="col-sm-offset-3 col-md-3 pull-right">
          <%= f.submit "Place order", class: "btn btn-success" %>
        </div>
      </div>
    </fieldset>
  <% end %>