
<hr class="featurette-divider">

<div class="row featurette">
    <div class="<%= cycle('col-md-7', 'col-md-7 col-md-push-5') %>">
      <h2 class="featurette-heading"><%= category.title %> <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead"><%= category.description %></p>
    </div>
    <div class="<%= cycle('col-md-5', 'col-md-5 col-md-pull-7') %>">
      <%= image_tag category.picture.url, class: "featurette-image img-responsive center-block" %>
    </div>
</div>